# Python
__pycache__/
*.pyc
.env
*firebase-adminsdk*.json
firebase-service-account.json
firebase-service-account*.json
serviceAccountKey.json
.pytest_cache/
.venv/
.venv-*/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
